<!DOCTYPE html>
<html ng-app="directivePractice">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body ng-controller="lessonCtrl">
    <div>
      <input type="checkbox" ng-model="check">Add/Remove lines
    </div>

    <ul>
      <lesson-hider ng-repeat="lesson in lessons" line="check" lesson="lesson" day-alert="announceDay(lesson, day)"></lesson-hider>
    </ul>

    <div>
      Remove Lesson: <input type="text" ng-model="lesson">
      <button type="button" ng-click="removeLesson(lesson)">Delete</button>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="lesson/lessonCtrl.js"></script>
  <script type="text/javascript" src="lesson/lessonService.js"></script>
  <script type="text/javascript" src="lesson/lessonHider.js"></script>
</html>
